/bsp/drivers
/bsp/HAL
/bsp/.cproject
/bsp/.project
/bsp/alt_sys_init.c
/bsp/linker.h
/bsp/linker.x
/bsp/mem_init.mk
/bsp/memory.gdb
/bsp/public.mk
/bsp/settings.bsp
/bsp/summary.html
/bsp/system.h
/app/.cproject
/app/.project
/app/app.map
/app/Makefile
/app/app.elf
/app/app.objdump
/bsp/Makefile
/bsp/obj
/.metadata
/bsp/libhal_bsp.a
/app/obj
